<h2>rails問題アプリ</h2>
<%= form_tag next_question_path do %>
  <h1>第<%= session[:question_number].to_i + 1 %>問</h1>
    <%= @question.content %></br>
    <% @question.choices.each do |choice| %>
      <label>
        <%= radio_button "choice", "id", choice.id %>
        <%= hidden_field_tag :question_id, @question.id %>
        <%= choice.content %>
      </label>
      </br>
    <% end %>
  <%= submit_tag('答え合わせ') %>
<% end %>
