<h2>rails問題アプリ</h2>
<%= form_tag question_path(params[:id]), method: "PUT" do %>
  <h1>第<%= @questions.index(@question) + 1 %>問</h1>
    <%= @question.content %></br>
    <% @question.choices.each do |choice| %>
      <label>
        <%= radio_button "choice", "id", choice.id %>
        <%= choice.content %>
      </label>
      </br>
    <% end %>
    <% if @question_index == 4 %>
      <%= submit_tag('結果を表示') %>
    <% else %>
      <%= submit_tag('次の問題へ') %>
    <% end %>
<% end %>
